<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Authentication Form</title>
    <link rel="shortcut icon" type="image/png" href="/assets/img/{{ result }}.png" size="32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/userForm/styles.css">
    <link rel="stylesheet" href="/assets/css/notificationForm/styles.css">
    <link rel="icon" href="data:,">
</head>
<body>
<div class="modal-dialog modal-confirm {{ result }}">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <div class="icon-box">
                <i class="material-icons">{{ icon }}</i>
            </div>
            <a href="/{{ action }}" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        </div>
        <input type="hidden" value="{{ check_value }}" name="check_value">
        <div class="modal-body {{ result }}">
            {% for item in notification %}
                <li>{{ item }}</li>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>